.content-11{
  background: url("../img/download-bg.png") right top no-repeat;
  .container{
    .title{
      margin: 90px 0 25px;
    }
    .lead{
      font-size: 16px;
      line-height: 26px;
      color: $gray;
      margin-bottom: 30px;
    }
    .btn-group{
      padding-bottom: 98px;
    }
  }
}
