.content-8 {
  .container {
    .title {
      width: 575px;
      margin-bottom: 35px;
    }

    .lead {
      font-size: 16px;
      line-height: 26px;
      color: $gray;
      width: 635px;
    }

    .info {
      &-shadow {
        border: 1px solid #ebebeb;
      }

      &-small {
        height: 555px;
      }

      border-radius: 10px;
      width: 317px;
      padding: 0;

      .price {
        &.price-bg1 {
          background: url("../img/price-bg1.png") center top no-repeat;
        }

        &.price-bg {
          background: url("../img/price-bg.png") center top no-repeat;
        }


        .price-rate {
          font-size: 60px;
          line-height: 58px;
          font-weight: 600;
          color: $dark-blue;
          padding-top: 70px;
          margin-bottom: 0;

          span {
            font-size: 18px;
            color: $gray2;
          }
        }

        .price-title {
          margin-bottom: 0;
        }

        .price-lead {
          font-size: 16px;
          line-height: 28px;
          color: $gray2;
          margin-bottom: 0px;
          padding-bottom: 40px;
        }


      }

      .price-list {
        padding: 20px 0 10px;
        margin-bottom: 0;

        &-small {
          height: 320px;
        }

        &__item {
          font-size: 16px;
          line-height: 48px;
          color: $gray2;
          list-style-type: none;

          .btn {
            margin-bottom: 10px;
          }
        }

        &__link {
          color: #2500f9;
          text-decoration: none;

        }
      }
    }


  }
}
