.content-10{
  padding: 55px 0 115px;
  border-bottom: 1px solid rgba(61, 63, 68, 0.44);
  .title{
    margin-bottom: 30px;
  }
  .lead{
    line-height: 26px;
    font-size: 16px;
    color: $gray;
    width: 640px;
    margin-bottom: 57px;
  }
  .accordion-info{
    background-color: $light-gray;
    padding: 30px 100px 40px 50px;
    &__title{
      margin-bottom: 15px;
    }
    &__text{
      margin-bottom: 10px;
      line-height: 26px;
      font-size: 16px;
      color: $gray;
    }
  }
  .accordion{
    .accordion-item{
      border: none;
      margin-top: 10px;
      .accordion-button{
        background-color: $light-gray;
        padding: 23px 40px 23px 50px;
      }
    }
  }
}
