.content-7 {
  background: url("../img/phone-3.png") right 60px no-repeat;
  padding: 20px 0 165px;

  .container {
    .title {
      width: 400px;
      margin-bottom: 13px;
    }

    .lead {
      width: 490px;
      font-size: 16px;
      line-height: 26px;
      color: $gray;
      margin-bottom: 5px;
    }

    .info {
      padding-top: 100px;
      margin-top: 55px;

      &-bg1 {
        background: url("../img/app-bg.png") 4% top no-repeat;
      }

      &-bg2 {
        background: url("../img/planing-bg2.png") 4% top no-repeat;
      }

      &-bg3 {
        background: url("../img/cloud-bg.png") 4% top no-repeat;
      }

      &-bg4 {
        background: url("../img/support-bg2.png") 4% top no-repeat;
      }
      &-title{
        margin-bottom: 0;
      }

      &-text {
        width: 275px;
        font-size: 16px;
        line-height: 26px;
        color: $gray;
        margin-bottom: 0;
      }
    }
    .btn{

    }
  }
}
