@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import "colors";
@import "buttons";


body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
  margin: 18px 0 13px;
  color: $dark-blue;
}

h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  color: $dark-blue;
}

//h4 { как сделать это гавнище)))
//  font-weight: 600;
//  font-size: 20px;
//  line-height: 58px;
//  color: $dark-blue;
//
//  .red {
//    color: $red;
//  }
//
//  .blue {
//    color: $blue2;
//  }
//  .green{
//    color: ;
//  }
//}

@import "content-1";
@import "content-2";
@import "content-3";
