@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import "colors";
@import "buttons";


body {
  font-family: 'Poppins', sans-serif;
}

h1{
  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
  margin: 18px 0 13px;
  color: $dark-blue;
}

@import "content-1";
